.four-control-square{
    width: 20rem;
    height: 20rem;
    margin-bottom: 3rem;
    background-color: white;
}
.four-control-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}